In [ ]:

'"AA",9.22,"AXP",24.85,"BA",44.85,"BAC",11.27,"C",3.72,"CAT",35.46,"CVX",66.67,"DD",28.47,"DIS",24.22,"GE",13.48,"GM",0.75,"HD",23.16,"HPQ",34.35,"IBM",\
    106.28,"INTC",15.72,"JNJ",55.16,"JPM",36.90,"KFT",26.11,"KO",49.16,"MCD",58.99,"MMM",57.10,"MRK",\
    27.58,"MSFT",20.89,"PFE",15.19,"PG",51.94,"T",24.79,"UTX",52.61,"VZ",29.26,"WMT",49.74,"XOM",69.35'

    
# the amount in the equal or above 50
# for loop
# conditional
# storage

In [ ]:

numbers = [1,2,3,4,5,6,7,8,9,10] #<---
num_group = {}

{
    'even': 5,
    'odd': 5
}

In [ ]:
url_data = ['google','amazon','microsoft','apple']

# www.google.com, www.amazon.com.....

{
    'google': 'www.google.com'
}