In [6]:
texts= ['(nytimes) "news on war" (wsj) "news on business" (nytimes) "more news"']

data = pd.DataFrame(texts,columns=['text'])
new= data['text'].str.extractall(r'((?:\(\w+\)."\w+.\w+ \w+?"))')


new_1= new.droplevel(level=1)
val = new_1[0].explode()[0].str.split().str[0]
val2 = new_1[0].explode()[0].str.split().str[1:].apply(lambda x: ' '.join(x))

cleaner  = pd.DataFrame()
cleaner['one']= val
cleaner['two']= val2

cleaner =cleaner.groupby('one').aggregate(lambda tdf: tdf.unique().tolist()).reset_index().T
cleaner.columns= ['NyTimes','WSJ']

cleaner.reset_index(inplace=True)
cleaner.drop(0,axis=0,inplace=True)
cleaner.drop('index',axis=1,inplace=True)
data[['NyTimes','WSJ']]= cleaner.values
data.head()

,text,NyTimes,WSJ
0,"(nytimes) ""news on war"" (wsj) ""news on busines...","[""news on war"", ""more news""]","[""news on business""]"

In [97]:
# new.droplevel(level=1)[0].str.split(')').explode()
new.droplevel(level=1)[0].explode().str.split()
# new.droplevel(level=1)[0].apply(pd.Series)

0     [(nytimes), "news, on, war"]
0    [(wsj), "news, on, business"]
0        [(nytimes), "more, news"]
Name: 0, dtype: object

In [3]:
cleaner

                        NyTimes                   WSJ
1  ["news on war", "more news"]  ["news on business"]

In [44]:
from pprint import pprint
total = [['ford', 'x', 'z', 'A', ['steering wheel problems', 'gearbox problems', 'broken engine']], ['fiat', 'y', 'x', 'C', ['steering wheel problems']]]
labels = ['make', 'model', 'version', 'type', 'infos']

new= [dict(zip(labels,x)) for x in total ]
pprint(new,width=40, depth=2)

[{'infos': [...],
  'make': 'ford',
  'model': 'x',
  'type': 'A',
  'version': 'z'},
 {'infos': [...],
  'make': 'fiat',
  'model': 'y',
  'type': 'C',
  'version': 'x'}]

In [64]:
def test(x):
    yield

Object `field` not found.