In [166]:
number = 1,2,3,4,5,6,7,8,9,0  #<--

number2 = number[::-1]

number3 = list(zip(number,number2))  # lazy and eager


print(type(number3))

<class 'list'>

In [167]:
ex= 1,2,3,4,5,6,6
ex2= 9,2,3,43,5,6


# for indx, val in enumerate(ex):
#     print(ex[indx],'exmaple1')
#     print('*'*19)
#     print(ex2[indx])


for i in zip(ex,ex2):
    print(i)

(1, 9)
(2, 2)
(3, 3)
(4, 43)
(5, 5)
(6, 6)

In [168]:
my_list = ['apple', 'banana','grape']

'apple' in my_list

True

In [169]:
my_dict ={
    'fruit': ['apple', 'banana','grape'],
    'cars': ['toyota', 'mazda','Kia']
}

print('cars' in my_dict.values())
print('key' in my_dict)

False
False

In [170]:
'toyota' in list(my_dict.values())[1]

True

In [171]:
example1 = [1,2,3,4,5,56,6,7]
print(example1[::-1])

print([1,2,3,4,5,56,6,7][::-1])

[7, 6, 56, 5, 4, 3, 2, 1]
[7, 6, 56, 5, 4, 3, 2, 1]

In [172]:
' '
" "
str() #<--


val: int= 1  # val = 1

val2: str = str(val) # val2 =str(val)

val3: str ='1'

In [173]:
print('the boy isn\'t home')
print("the boy isn't home")


print("the boy isn't\n home")
print("the boy isn't\thome")
print('this is me', end=' ')
print('another line')

the boy isn't home
the boy isn't home
the boy isn't
 home
the boy isn't	home
this is me another line

In [174]:
# var =  '''
#         a lion
#         merily, i betold.....
#         another line
# '''
# print(var)
# # eval('print("hello world")')

# # val1 = int(input())
# # val2 = int(input())

# # val3 =  input()
# # val4 = input()
# # val4 = input()

# eval('print(val3 + val4)')
# val = eval('int(val3) + int(val4)')
# print(val)

# # my_dict[val4]

# # my_maths= {
# #     'add': % ,
# #     'sub'
# # }

In [175]:
'the boy is going to school'.capitalize()
'the boy is going to school'.upper()
'THE BOY IS GOING TO SCHOOL'.lower()

'the boy is going to school'

In [176]:
# 'apple banana grape orange pinapple'.split(' ')[0]
# 'apple|banana|grape|orange|pinapple'.split('|')[2]
# 'apple@banana@grape@orange@pinapple'.split('@')
my_string = 'apple.banana.grape.orange.pinapple'.split('.')
# 'applebananagrapeorangepinapple'.split(' ')

In [177]:
'-'.join(my_string)

'apple-banana-grape-orange-pinapple'

In [178]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [179]:
'anti-disestablishment'.startswith('anti')
'anti-disestablishment'.endswith()('ment')

TypeError: endswith() takes at least 1 argument (0 given)

In [ ]:
'1233'.isnumeric()
'abcd'.isalpha()

True

In [ ]:
first = 'this is my phone number xxxxxxxxxxxx'
second = 'this is my phone number 1234456654333322354354564565645645645332'

In [ ]:
second.split(' ')[::-1][0].isnumeric()

True

In [ ]:
var = 'apple banana grape pineapple'



print(var)

apple banana grape pineapple

In [ ]:
# var2 = var.split(' ')


# print(*var2,sep='\n')


# var3 = '\n'.join(var.split(' '))


print(var3)

apple
banana
grape
pineapple
apple
banana
grape
pineapple

In [ ]:
'apple banana grape pineapple'.split(' ')

['apple', 'banana', 'grape', 'pineapple']

In [ ]:
'\n'.join(['apple', 'banana', 'grape', 'pineapple'])

'apple\nbanana\ngrape\npineapple'

In [ ]:
print('apple\nbanana\ngrape\npineapple')

apple
banana
grape
pineapple

In [ ]:
'\n'.join('apple banana grape pineapple')

'a\np\np\nl\ne\n \nb\na\nn\na\nn\na\n \ng\nr\na\np\ne\n \np\ni\nn\ne\na\np\np\nl\ne'

In [212]:
var1 = input()
var2 = input() #<--
maths  = input() #'add'



# add

if var1 and var2:  #ensures they are not empty
    if var1.isdigit() and var2.isdigit():
        var1= int(var1)
        var2= int(var2)
        if maths == 'add':
            print(var1 + var2)
        elif maths == 'sub' :
            print(var1 - var2)
        elif maths == 'mul' :
            print(var1 * var2)
        elif maths == 'div' :
            if var2 > 0:
                print(var1 / var2)
            else:
                print('invalid denominator')
        else:
            print('not true')
else:
    print('your numbers are invalid')

your numbers are invalid

In [191]:
var = '''

+----------------+
| 22 - 33 => ans |
+=================

'''

yes

In [202]:
my_num = input()


1. check if the divisible 3  fizz
2. if the number is divisble by 5 print buzz
3. if the number is divisble by 3 and 5 print fizzbuzz
4   print number

True

In [209]:
print(True and True)
print(True and False)
print(False and False)
print(False and True)

print('*'* 18)

print(True or True)
print(True or False)
print(False or False)
print(False or True)

True
False
False
False
******************
True
True
False
True