In [ ]:
# Variables Naming

1. Capitalised --> CONSTANT
2. alpha-numeric
3. You cant use a dash ('-')
4. Case Sensitive
5. _
6. _ it is a private variable

In [8]:
COMPANY= 'Saidatech'
company = 'saidatech'

Company1 = 'saidatech'
company_1 ='sadatech'

print(COMPANY)
print(company)
print(Company1)
_company = 'saidatech'

Saidatech
saidatech
saidatech

In [42]:
number1= '1'
number2 = '2'
number3 = 2.999394983838398
# print(type(number1))
# print(type(number2))

print('*' * 20)
print(f'| {number2:^29}|')

********************
|               2              |

In [ ]:
table = '''

+-----------------------------+ 
| name     | age  |occupation |
 =============================
| john Doe |   45 |  Carpenter|
+-----------------------------+
 '''

In [49]:
print(f"+{'-' * 30}+" )
print('              ')
print(f" {' ' * 30}" )

+------------------------------+

In [64]:
name = 'johndoe'
age = 45
occupation = 'Carpenter'

print(f"+{'_' * 30}+")
print(f"|  name   |  age | Occupation  |")
print(f" {'=' * 30}")
print(f"|  {name}   |  {age} | {occupation} |")
print(f"+{'_' * 30}+")


print('%s'%number3)  #python2.7
print('{}'.format(number3))  

# print(f'| {name}')
# print(f "{'=' * 30}")
# print(f "+{'_' * 30}+")

+______________________________+
|  name   |  age | Occupation  |
 ==============================
|  johndoe   |  45 | Carpenter |
+______________________________+
2.999394983838398
2.999394983838398

In [77]:

# variable   ------ memory location  ----->  'Saidatech'

another_variable = COMPANY

print(id(COMPANY))
print(id(another_variable))

COMPANY= 'anything'
print(another_variable)

140453405718768
140453405718768
anything

In [81]:
# is and ==  =
1 == 1  # face value
print(1 is 1) #memory location
id(1)

True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-81-047c1813c097>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1)

4319009120

In [19]:
# dry
employe1 = ' Sam Daniel'
employe2 = ' john  Mitchel'
employe3 = ' Moses Daniel'
employe4 = ' luke Daniel'
employe5 = ' Tim Daniel'

employee = [' Sam Daniel',' john  Mitchel',' Moses Daniel','luke Daniel','Tim Daniel']  #list 
# id = [1,2,3,4,5,6,7,8,9,10]

#orderded -->indexed

# print(id[0],employee[0]) #starts from 0

# name[start:stop:step]
# # print(employee[2:4])
# print(employee[2:])
# print(employee[0::2])

# print(id[1::2])
# print(id[::-1])

# manager = employee[1:3]
# officers = employee[-2:]
# # print(manager)
# print(officers)

# #iterable
#mutable

employee[1] = 'Obi Sancho'
print(employee)

[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'luke Daniel', 'Tim Daniel']

In [111]:
# varibale unpacking
assistant_manager,*officer_1 ,manager1   = employee
print(assistant_manager)
print(officer_1)
print(manager1)

 Sam Daniel
[' john  Mitchel', ' Moses Daniel', 'luke Daniel']
Tim Daniel

In [113]:
a= 'something'
b= 'another thing'

a,b = b,a
print(a)
print(b)

another thing
something

In [115]:
print(dir(employee))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
employee_backup = employee
print(id(employee_backup))
print(id(employee))

employee_backup[3]= 'Nothing'

# copy 
employee_backup1 = [*employee]
print(employee_backup1)
print(id(employee_backup1))


employee_backup2 = list(employee)
print(employee_backup2)
print(id(employee_backup2))

employee_backup3 = [x for x in employee]
print(employee_backup3)
print(id(employee_backup3))

employee_backup4 = employee.copy()
print(employee_backup4)
print(id(employee_backup4))

140493952062080
140493952062080
[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'Nothing', 'Tim Daniel']
140493972839552
[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'Nothing', 'Tim Daniel']
140493980331376
[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'Nothing', 'Tim Daniel']
140493972798112
[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'Nothing', 'Tim Daniel']
140493972818592

In [6]:
employee

[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'Nothing', 'Tim Daniel']

In [22]:
employee.append('jack robisnon')


employee.extend(['sol ghandi',1,2,3,43,4,5, 'moses and Pharoah' ])


print(employee)
employee.index('sol ghandi')

[' Sam Daniel', 'Obi Sancho', ' Moses Daniel', 'luke Daniel', 'Tim Daniel', 'jack robisnon', 'sol ghandi', 'jack robisnon', 'sol ghandi', 1, 2, 3, 43, 4, 5, 'moses and Pharoah', 'jack robisnon', 'sol ghandi', 1, 2, 3, 43, 4, 5, 'moses and Pharoah']

6

In [39]:
new_list = [2,3,3,2,2,3,4,5,6,64,3,3]
# new_list.pop()
# print(new_list)
# new_list.pop()
new_list.sort()
new= sorted([1,3,2,34,56,4,3,32,])

In [37]:
print(new_list)

[2, 2, 2, 3, 3, 3, 3, 3, 4, 5, 6, 64]

In [42]:
help(employee.insert)
employee.insert(3,'my insert function worked')

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [48]:
# help(sum) '__iter__'
print(sum(new_list))
print(len(new_list))
print(min(new_list))
print(max(new_list))

100
12
2
64

In [45]:
hasattr(employee, '__iter__')

True

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None