## Excercises
This is to help you work on topics that has been covered

### Question 1

#####  A. Assume you have the following list below that contains Employee_id data:
        Employee_id = ['id_001','id_002','id_003']

#Reassign the values of the above employees id to variables Samuel, John and Sarah. 

##### B. Also include the following employees id into your Employee_id list
    moses = 'id_009'
    tim = 'id_008'
    demy = 'id_007'

##### C create a copy of Employee_id and store the value in Employee_id_backup. Ensure that changes in Employee_id does not affect your backup

#### D what is the quickest way to  add another Employee_id2 to your  Employee_id
    Employee_id2 = ['id_01','id_02','id_03']

In [15]:
Employee_id = ['id_001','id_002','id_003']
# Samuel = Employee_id[0]
# John = Employee_id[1] 
# Sarah = Employee_id[2]
# print(Samuel, Sarah,John, sep=' | ',end='\n')

# Samuel1, John1,Sarah1 = Employee_id  #unpacking
# print(Samuel1, John1,Sarah1)


#
moses = 'id_009'
tim = 'id_008'
demy = 'id_007'

# hardways 1
# Employee_id.append(moses)
# Employee_id.append(tim)
# Employee_id.append(demy)

# Employee_id.extend([moses,tim,demy])

Employee_id = [moses,tim,demy, *Employee_id]

print(Employee_id)

['id_009', 'id_008', 'id_007', 'id_001', 'id_002', 'id_003']

In [29]:
Employee_id2 = ['id_01','id_02','id_03']
Employee_id = ['id_001','id_002','id_003']

# 
# Employee_id= [*Employee_id,*Employee_id2]

# Employee_id = Employee_id + Employee_id2
Employee_id.extend(Employee_id2)
print(Employee_id)

['id_001', 'id_002', 'id_003', 'id_01', 'id_02', 'id_03']

In [31]:
print(help(list.append))
print(help(list.extend))

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

None
Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

None

In [22]:
vari = ['a','b','c','d']
first, *others, last = vari
print(others)
#------------------------------
a = [1,2,3,4]
b = [*a]  # a.copy()


print(id(a))
print(id(b))

b[2]= 'nothing'

print(a)
print(b)

['b', 'c']
140681384349632
140681388207680
[1, 2, 3, 4]
[1, 2, 'nothing', 4]

In [8]:
Employee_id = ['id_001','id_002','id_003']
Samuel = Employee_id[0]
John = Employee_id[1]
Sarah = Employee_id[2]

print(Sarah,John, Samuel) 



# Employee_id3 = ['id_009','id_008','id_007']
# print(Employee_id3.append(Employee_id))

Sarah id_002 id_001

### Question 2

#### You have a data containing of a list prices 
    price_list = [2033,3002,3990,2993,3404,2003,3343,203,2930,20303,2002,30402,9909,3902,4939,2883,38483]
* A. Find the maximum price in the price list
* B. Find the minimum price in the price list
* C. Find the total length of items in the price list
* d. Find the sum of prices in the price list

2. Suppose you need to map the prices to items. if the first three prices are for 
    * Hp Laptop
    * Refrigerator
    * Dish Washer
and the last three items are
    * Macbook pro
    * Iphone
    * Amazon Echo
    
map all the items to the above variable names and the other prices should be placed in a varible called 'OTHERS'

In [37]:
 
price_list = [2033,3002,3990,2993,3404,2003,3343,203,2930,20303,2002,30402,9909,3902,4939,2883,38483]
# print(max(price_list))
# print(min(price_list))
# print(len(price_list))
# print(sum(price_list))


print(sum(price_list[2::2]))

69000

### Question 3
You have a list containing that has different colours

    colours = ['white', 'orange', 'red','red','yellow','red','white', 'blue', 'brown', 'purple','red', white, 'green, 'black']

How many times did white appear in the list?

In [44]:
colours = ['white', 'orange', 'red','red','yellow','red','white', 'blue', 'brown', 'purple','red', 'white', 'green', 'black']
colours.count('white')

3

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Question 4
1. Convert the following list to a dictionary with the pair {employee_id: Employee_name}

        Employee_id = ['id_001','id_002','id_003']
        Employee_name = ['Sam','John','Sarah']
2. what name is mapped to 'id_002'

3. Include these new employees in your dictionary 

    new_employees= {moses:'id_009',
                  tim : 'id_008',
                  demy : 'id_007'}

In [54]:
new_dict= {
    'id_001':'Sam',
    'id_002':'John',
    'id_003':'Sarah',
}

Employee_id = ['id_001','id_002','id_003']
Employee_name = ['Sam','John','Sarah']


second= dict(zip(Employee_id,Employee_name))

# print(new_dict['id_007']) #---
# print('done')
print(second.get('id_007')) #
print('done')
new_employees= {moses:'id_009',
                  tim : 'id_008',
                  demy : 'id_007'}
second.update(new_employees)

None
done

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### Question 5
Assume you need to get unique values of your the list below, how would you go about it?

    colours = ['white', 'orange', 'red','red','yellow','red','white', 'blue', 'brown', 'purple','red', white, 'green, 'black']